#container {
    position: relative;
    background-color: rgb(0, 0, 0);

    user-select: none;

    #text-container {
        background-color: rgba(255, 255, 255, 0.15);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font-weight: 800;
        font-size: max(3vw, 1.2rem);

        text-align: center;

        padding: min(8vw, 50px);
        backdrop-filter: blur(6px);
        border: 2px solid white;

        text-wrap: nowrap;

        #line2 {
            font-size: 0.8em;
            margin-top: -5%;
            font-weight: 600;
        }
    }

    #hero-img {
        min-height: 300px;

        width: 100%;
        height: auto;

        object-fit: cover;

        display: block;
        opacity: 0.4;
    }
}
