<div id="container">
    <div id="hero-background">
        <img id="hero-img" src="/img/hero-background.jpg">
        <div id="text-container">
            <div id="line1">Fullstack Developer</div>
            <div id="line2">Java + Angular</div>
        </div>
    </div>


    <div id="profile-info">
        <div id="up-panel">
            <div id="profile-picture">
                <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg">
            </div>
            <div id="profile-name">
                Sebastian Gałan
            </div>
            <div id="button-container">
                <a href="https://github.com/SebastianGalan76" target="_blank" class="button">
                    <i class="icon fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/galan-sebastian/" target="_blank" class="button">
                    <i class="icon fa-brands fa-linkedin"></i>
                </a>
                <div class="button"><i class="icon fa-solid fa-envelope"></i></div>
            </div>
        </div>

        <div id="down-panel">
            <div class="section" id="status-section">
                <div class="title">Status</div>
                <div class="content">
                    <div id="status">
                        Otwarty<br>
                        <i class="fa-solid fa-handshake"></i><br>
                        na pracę<br>
                    </div>
                    <div id="information">
                        <div class="info">
                            <div class="up">Kraków/Zdalnie</div>
                            <div class="down">Lokalizacja</div>
                        </div>
                        <div class="info">
                            <div class="up">O pracę/zlecenie</div>
                            <div class="down">Rodzaj umowy</div>
                        </div>
                        <div class="info">
                            <div class="up">Pełny etat</div>
                            <div class="down">Dostępność</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title">O mnie</div>
                <div class="content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
            </div>
        </div>
    </div>
</div>