<div id="container">
    <div id="header">
        <div id="title">Wybierz język CV</div>
        <div id="close-button" (click)="parent.close()"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <div id="content">
        <a href="/cv/pl/Sebastian Gałan - CV.pdf" target="_blank">
            <div class="option">
                <div class="flag">
                    <img src="/flag/Flag_of_Poland.png">
                </div>
                <div class="name">
                    Polski
                </div>
            </div>
        </a>
        <a href="/cv/en/Sebastian Gałan - CV.pdf" target="_blank">
            <div class="option">
                <div class="flag">
                    <img src="/flag/Flag_of_the_United_Kingdom.png">
                </div>
                <div class="name">
                    English
                </div>
            </div>
        </a>
    </div>
</div>