#container {
    background-color: #232c3d;
    border-radius: 20px;
    border: 2px solid #2f3849;

    min-width: min(400px, 96vw);
    overflow: hidden;

    #header {
        padding: 20px;

        position: relative;
        border-bottom: 2px solid #2f3849;

        #title {
            font-size: 1.1em;
            font-weight: 800;
        }

        #close-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            border-radius: 0 0 0 10px;

            background-color: #2f3849;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #content {
        padding: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .option {
            border: 2px solid #2f3849;
            border-radius: 10px;
            overflow: hidden;
            padding: 10px;

            .flag {
                width: 200px;
                aspect-ratio: 640/400;

                overflow: hidden;
                border-radius: 10px;

                img {
                    max-width: 200px;

                    width: auto;
                    height: auto;

                    display: block;
                }
            }

            .name {
                text-align: center;
                font-size: 1.4em;
                margin-top: 10px;
            }

            &:hover {
                cursor: pointer;
                background-color: #2f3849;
            }
        }

        @media (max-width: 550px) {
            grid-template-columns: 1fr;

            .option {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
