<div id="container">
    <app-section-header [title]="'Umiejętności'"
        [description]="'W trakcie mojej kariery programisty zdobyłem wszechstronne umiejętności w różnorodnych technologiach i narzędziach, co umożliwia mi realizację różnego rodzaju projektów. Poniżej przedstawiam wybrane kompetencje, które rozwijam.'" />
    <div class="filter-container">
        <div class="option" (mouseenter)="showStacksByCategory(StackCategory.FRONTEND)" (mouseleave)="showAllStacks()"
            data-aos="fade-up-right">
            <div class="color frontend"></div>Frontend
        </div>
        <div class="option" (mouseenter)="showStacksByCategory(StackCategory.BACKEND)" (mouseleave)="showAllStacks()"
            data-aos="fade-up-right">
            <div class="color backend"></div>Backend
        </div>
        <div class="option" (mouseenter)="showStacksByCategory(StackCategory.GAME)" (mouseleave)="showAllStacks()"
            data-aos="fade-up-right">
            <div class="color game"></div>Gry
        </div>
    </div>

    <div class="stack-container">
        <div class="stack" [ngClass]="stack.getNgClass()" *ngFor="let stack of stacks" data-aos="fade-up-right">
            <div class="icon">
                <img [src]="stack.icon">
            </div>
            {{stack.name}}
        </div>
    </div>

    <div class="filter-container">
        <div class="option" data-aos="fade-up-left">
            <div class="color tool"></div>Narzędzia
        </div>
    </div>

    <div class="stack-container">
        <div class="stack highlight" *ngFor="let stack of tools" data-aos="fade-up-left">
            <div class="icon">
                <img [src]="stack.icon">
            </div>
            {{stack.name}}
        </div>
    </div>
</div>