<div id="wrapper">
    <div id="container">
        <div id="content">
            <nav>
                <ul>
                    <a href="https://github.com/SebastianGalan76" target="_blank">
                        <li class="button"><i class="icon fa-brands fa-github"></i><span class="text">GitHub</span>
                        </li>
                    </a>
                    <a href="https://www.linkedin.com/in/galan-sebastian/" target="_blank">
                        <li class="button"><i class="icon fa-brands fa-linkedin"></i><span class="text">LinkedIn</span>
                        </li>
                    </a>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li class="button"><i class="icon fa-solid fa-user"></i><span class="text">Profil</span>
                    </li>
                    <li class="button"><i class="icon fa-solid fa-computer"></i><span class="text">Umiejętności</span>
                    </li>
                    <li class="button"><i class="icon fa-solid fa-briefcase"></i><span class="text">Projekty</span>
                    </li>
                    <li class="button"><i class="icon fa-solid fa-envelope"></i><span class="text">Kontakt</span>
                    </li>
                </ul>
            </nav>
            <nav>

            </nav>
        </div>
    </div>
</div>