#mobile-header {
    width: 100%;
    height: 50px;
    background-color: var(--color-theme);

    display: none;

    position: fixed;
    top: 0;

    z-index: 1000;

    font-size: 1.8rem;
    padding: 0 15px;

    #menu-button {
        position: relative;

        height: 50px;
        width: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        i {
            position: absolute;
            transition: transform 0.2s ease;
        }

        .fa-xmark {
            transform: scale(0);
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            i {
                &.fa-bars {
                    transform: scale(0);
                }
                &.fa-xmark {
                    transform: scale(1);
                }
            }
        }
    }

    @media (max-width: 800px) {
        display: block;
    }
}

#wrapper {
    position: sticky;
    top: 0;

    width: 80px;
    height: 100dvh;

    z-index: 100;

    #container {
        height: 100%;
        width: 100%;

        background-color: var(--color-theme);
        transition: width 0.3s ease-in-out;

        overflow: hidden;

        user-select: none;

        &:hover {
            width: 250px;
        }

        #content {
            width: 250px;
            height: 100%;

            text-wrap: nowrap;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .button {
                display: flex;
                align-items: center;
                padding: 10px 0;

                color: var(--color-text-light);

                .icon {
                    width: 80px;
                    text-align: center;

                    font-size: 1.6rem;
                }

                .text {
                    font-size: 1.2rem;

                    position: relative;
                    width: 0;
                    transition: width 0.5s ease-in-out;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-theme-accent);
                    color: var(--color-text);
                }
            }
        }
    }

    @media (max-width: 800px) {
        width: 0;

        #container {
            &.active {
                width: 250px;
            }
        }
    }
}
