<div id="container">
    <div class="title"><i class="fa-solid fa-envelope-open-text"></i> Formularz kontaktowy</div>
    <div id="form-area">
        <div class="input-area">
            <input type="text" placeholder="Imię" maxlength="60" [(ngModel)]="name">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="input-area">
            <input type="text" placeholder="E-mail" maxlength="120" [(ngModel)]="email">
            <div class="icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
        <textarea></textarea>
    </div>
    <div id="submit-button">Wyślij</div>
</div>