<div id="container" class="inverted">
    <div id="preview">
        <img src="/img/math-preview1.png">
    </div>
    <div id="information">
        <div id="header">
            <div class="type">Aplikacja mobilna</div>
            <div class="name">Multiplication Math Game</div>
        </div>

        <div id="description">
            W swojej karierze programisty zdobyłem umiejętności w zakresie szerokiej gamy technologii i
            narzędzi, które pozwalają mi realizować wszelkiego rodzaju projekty. Poniżej znajdują się
            niektóre
            umiejętności, które rozwinąłem.
        </div>
        <div id="footer">
            <div id="stack-section">
                <div class="title">STACK</div>
                <div id="stack-container">
                    <div class="stack" title="Java">
                        <img src="/stackIcon/java-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Spring Boot">
                        <img src="https://spring.io/img/spring.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="PostgreSQL">
                        <img src="/stackIcon/postgresql-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="JUnit">
                        <img src="/stackIcon/JUnit.svg">
                    </div>
                    <div class="stack" style="scale: 1.3;" title="Angular">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
                    </div>
                    <div class="stack" title="RxJS">
                        <img src="/stackIcon/rxjs-seeklogo.svg">
                    </div>
                </div>
            </div>
            <div id="button-container">
                <div class="button">GitHub</div>
                <a href="https://play.google.com/store/apps/details?id=com.coresaken.multiplication" target="_blank">
                    <div class="button">Live</div>
                </a>
            </div>
        </div>
    </div>
</div>