.project {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.project .preview {
  flex-shrink: 0;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid var(--color-theme);
}
.project .preview img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.9s ease;
}
.project .information {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 56px;
  flex-grow: 1;
}
.project .information .header {
  text-align: right;
}
.project .information .header .type {
  color: var(--color-theme);
}
.project .information .header .name {
  font-size: 2rem;
  margin-top: -10px;
}
.project .information .panel {
  background-color: var(--color-background3);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  right: min(50px, 10%);
}
.project .information .panel .description {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--color-text-light);
}
.project .information .panel .title {
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--color-text-light);
  margin-top: 15px;
}
@media (max-width: 800px) {
  .project .information .panel .title {
    margin-top: 5px;
  }
}
.project .information .panel .stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.project .information .panel .stack-container .stack {
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.project .information .panel .stack-container .stack img {
  max-width: 32px;
  max-height: 32px;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.project .information .panel .stack-container .stack:hover {
  cursor: pointer;
}
.project .information .panel .button-container {
  position: absolute;
  bottom: -46px;
  right: 0;
  display: flex;
  gap: 10px;
}
.project .information .panel .button-container .button {
  color: var(--color-text-light);
  padding: 4px 10px;
  border: 1px solid var(--color-text);
  border-radius: 8px;
}
.project .information .panel .button-container .button:hover {
  cursor: pointer;
  color: var(--color-text);
}
.project:hover .preview img {
  transform: scale(1.1);
}
.project.inverted .preview {
  order: 2;
}
.project.inverted .information .header {
  text-align: left;
}
.project.inverted .information .panel {
  z-index: 20;
  position: relative;
  left: min(50px, 10%);
}
.project.inverted .information .panel .title {
  margin-left: auto;
  text-align: right;
}
.project.inverted .information .panel .stack-container {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.project.inverted .information .panel .button-container {
  left: 0;
}
@media (max-width: 1700px) {
  .project.inverted .preview {
    margin-left: auto;
  }
  .project.inverted .information {
    left: 0;
  }
  .project.inverted .information .name {
    max-width: 250px;
    font-size: 1.7rem !important;
  }
  .project.inverted .information .panel {
    position: absolute;
    left: 0;
    bottom: -80px;
  }
  .project.inverted .information .panel .button-container {
    bottom: 20px;
    left: 10px;
  }
}
@media (max-width: 1400px) {
  .project.inverted .information {
    position: absolute;
    left: 0;
  }
  .project.inverted .information .name {
    max-width: 180px;
    font-size: 1.3rem !important;
  }
  .project.inverted .information .panel {
    position: absolute;
    left: 0;
    bottom: -80px;
  }
}
@media (max-width: 800px) {
  .project.inverted {
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-background2);
  }
  .project.inverted .preview {
    width: 100%;
    z-index: 100;
    order: 1;
  }
  .project.inverted .information {
    position: relative;
    top: 0;
    order: 2;
  }
  .project.inverted .information .name {
    max-width: 300px;
  }
  .project.inverted .information .header {
    text-align: left;
  }
  .project.inverted .information .panel {
    position: relative;
    top: 0;
    padding: 0;
  }
  .project.inverted .information .panel .button-container {
    position: absolute;
    bottom: unset;
    top: -40px;
    display: flex;
    justify-content: end;
  }
}
@media (max-width: 500px) {
  .project.inverted .information .name {
    max-width: 300px;
    font-size: 1rem !important;
  }
}
@media (max-width: 400px) {
  .project.inverted .information .name {
    font-size: 0.9rem !important;
  }
  .project.inverted .information .panel .button-container {
    position: absolute;
    bottom: unset;
    top: -36px;
  }
}
@media (max-width: 1700px) {
  .project .preview {
    width: 80%;
  }
  .project .information {
    width: 80%;
    height: 100%;
    flex-grow: unset;
    position: absolute;
    right: 0;
  }
  .project .information .panel {
    position: absolute;
    right: 0;
    bottom: -80px;
  }
  .project .information .panel .button-container {
    bottom: 20px;
    right: 10px;
  }
}
@media (max-width: 1400px) {
  .project .preview {
    width: 78%;
  }
  .project .information {
    width: 80%;
    height: 100%;
    flex-grow: unset;
    position: absolute;
    right: 0;
  }
  .project .information .panel {
    position: absolute;
    right: 0;
    bottom: -80px;
  }
}
@media (max-width: 800px) {
  .project {
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-background2);
  }
  .project .preview {
    width: 100%;
    z-index: 100;
  }
  .project .information {
    position: relative;
    top: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--color-background2);
    padding: 5px;
    border-radius: 0 0 20px 20px;
  }
  .project .information .header {
    text-align: left;
  }
  .project .information .panel {
    position: relative;
    top: 0;
    padding: 0;
    background-color: unset;
  }
  .project .information .panel .description {
    font-size: 0.8rem;
  }
  .project .information .panel .button-container {
    bottom: unset;
    top: -50px;
    right: 0;
  }
}/*# sourceMappingURL=project-big.component.css.map */