<div id="container" class="inverted">
    <div id="preview">
        <img src="/img/math-preview1.png">
    </div>
    <div id="information">
        <div id="header">
            <div class="type">Aplikacja mobilna</div>
            <div class="name">Multiplication Math Game</div>
        </div>

        <div id="description">
            Aplikacja mobilna do nauki tabliczki mnożenia. Oferuje różnorodne ćwiczenia, angażujące gry edukacyjne oraz
            system statystyk pozwalający śledzić postępy.
        </div>
        <div id="footer">
            <div id="stack-section">
                <div class="title">STACK</div>
                <div id="stack-container">
                    <div class="stack" title="Java">
                        <img src="/stackIcon/java-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Android Studio">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Android_Studio_Icon_3.6.svg">
                    </div>
                </div>
            </div>
            <div id="button-container">
                <a href="https://github.com/SebastianGalan76/Multiplication-Math-Games" target="_blank">
                    <div class="button">GitHub</div>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.coresaken.multiplication" target="_blank">
                    <div class="button">Live</div>
                </a>
            </div>
        </div>
    </div>
</div>