<div id="header-container">
    <app-section-header [title]="'Projekty'"
        [description]="'W mojej karierze zrealizowałem wiele projektów o różnym stopniu skomplikowania - od mniejszych aplikacji po zaawansowane systemy. Poniżej przedstawiam przykłady realizacji, które najlepiej pokazują moje umiejętności i doświadczenie.'" />
</div>

<div id="project-big-wrapper">
    <div id="project-big-container">
        <app-project-mc-list />
    </div>
</div>

<div id="project-small-container">
    <app-project-small data-aos="fade-right" data-aos-delay="100" [imgSrc]="'dawka-smiechu-preview1.jpg'"
        [name]="'DawkaSmiechu.pl'" [type]="'Strona internetowa'" [description]="'Strona internetowa umożliwiająca użytkownikom dodawanie dowcipów, wyświetlanie ich według kategorii oraz ocenianie. Platforma pozwala również na tworzenie i zapisywanie spersonalizowanych list ulubionych dowcipów.
        '" [live]="'https://dawkasmiechu.pl/'" [github]="[{
            name: 'Frontend', link: 'https://github.com/SebastianGalan76/JokeAppFrontend'
        }, {name: 'Backend', link: 'https://github.com/SebastianGalan76/JokeAppBackend'}]" />

    <app-project-small data-aos="fade-right" data-aos-delay="200" [imgSrc]="'joingamedev-preview1.jpg'"
        [name]="'JoinGameDev.pl'" [type]="'Strona internetowa'"
        [description]="'Platforma umożliwiającą publikowanie, edytowanie i zarządzanie ofertami pracy, a także zarządzanie profilami kandydatów oraz firm. Użytkownicy mogą tworzyć i edytować profile firm oraz wyszukiwać oferty pracy według kategorii, lokalizacji, rodzaju umowy i innych filtrów'"
        [live]="'https://joingamedev.pl/'" [github]="[{
            name: '', link: 'https://github.com/SebastianGalan76/JobOffersPortal'
        }]" />
</div>

<div id="project-big-wrapper">
    <div id="project-big-container">
        <app-project-math />
    </div>
</div>

<div id="project-small-container">
    <app-project-small data-aos="fade-right" data-aos-delay="100" [imgSrc]="'rocket-jump-preview1.png'"
        [name]="'Rocket Jump'" [type]="'Gra'" [description]="''"
        [live]="'https://store.steampowered.com/app/1747440/Rocket_Jump/'"
        [github]="[{name: '', link: 'https://github.com/SebastianGalan76/Rocket-Jump'}]" />
    <app-project-small data-aos="fade-right" data-aos-delay="200" [imgSrc]="'slide-block-preview1.png'"
        [name]="'Slide Block'" [type]="'Gra'" [description]="''"
        [live]="'https://play.google.com/store/apps/details?id=com.coresaken.slideblock'"
        [github]="[{name: '', link: 'https://github.com/SebastianGalan76/Slide-Block'}]" />
    <app-project-small data-aos="fade-right" data-aos-delay="300" [imgSrc]="'fill-fields-preview1.png'"
        [name]="'Fill Fields'" [type]="'Gra'" [description]="''"
        [live]="'https://play.google.com/store/apps/details?id=com.Coresaken.FilltheFields'"
        [github]="[{name: '', link: 'https://github.com/SebastianGalan76/FillFields'}]" />
    <app-project-small data-aos="fade-right" data-aos-delay="400" [imgSrc]="'endless-path-preview1.png'"
        [name]="'Endless Path'" [type]="'Gra'" [description]="''"
        [live]="'https://play.google.com/store/apps/details?id=com.Coresaken.EndlessPath'"
        [github]="[{name: '', link: 'https://github.com/SebastianGalan76/EndlessPath'}]" />
    <app-project-small data-aos="fade-right" data-aos-delay="500" [imgSrc]="'island-of-riddles-preview1.jpg'"
        [name]="'Island of Riddles'" [type]="'Gra'" [description]="''"
        [live]="'https://coresaken.itch.io/island-of-riddles'" />
</div>