<div id="container">
    <div id="left-panel">
        <div id="photo-wrapper">
            <img src="/img/photo.jpg" />
        </div>
    </div>
    <div id="right-panel">
        <app-section-header [title]="'Profil'" />
        <div id="description">
            Junior Fullstack Developer z doświadczeniem w tworzeniu aplikacji
            webowych z wykorzystaniem Java (Spring Boot) i Angular. Specjalizuję się
            w budowie REST API, zarządzaniu bazami danych (PostgreSQL), integracji z
            zewnętrznymi API oraz implementacji dynamicznych i responsywnych
            interfejsów użytkownika.<br><br>
            Jestem zmotywowany do ciągłego rozwijania swoich umiejętności
            technicznych oraz pracy zespołowej, przyczyniając się do realizacji
            projektów dostarczających realną wartość użytkownikom.

        </div>
        <div id="information-container">
            <div class="info">
                <div class="line1">Sebastian Gałan</div>
                <div class="line2">Imię i nazwisko</div>
            </div>
            <div class="info">
                <div class="line1">Kraków</div>
                <div class="line2">Lokalizacja</div>
            </div>
            <div class="info">
                <div class="line1">24</div>
                <div class="line2">Wiek</div>
            </div>
        </div>
    </div>

    <div id="down-panel">
        <div class="button">
            Pobierz CV
        </div>
        <a href="https://github.com/SebastianGalan76" target="_blank">
            <div class="button">
                GitHub
            </div>
        </a>
        <a href="https://www.linkedin.com/in/galan-sebastian/" target="_blank">
            <div class="button">
                LinkedIn
            </div>
        </a>

        <div class="button" id="projects" (click)="scrollTo('project-section')">
            Projekty
        </div>
        <div class="button" id="contact" (click)="scrollTo('contact-section')">
            Kontakt
        </div>
    </div>
</div>