<div id="container">
    <div id="left-panel">
        <div id="photo-wrapper">
            <img src="/img/photo.jpg" />
        </div>
    </div>
    <div id="right-panel">
        <app-section-header [title]="'Profil'" />
        <div id="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
        </div>
        <div id="information-container">
            <div class="info">
                <div class="line1">Sebastian</div>
                <div class="line2">Imię</div>
            </div>
            <div class="info">
                <div class="line1">Kraków</div>
                <div class="line2">Lokalizacja</div>
            </div>
            <div class="info">
                <div class="line1">24</div>
                <div class="line2">Wiek</div>
            </div>
            <div class="info">
                <div class="line1">sebastian.galan7625&#64;gmail.com</div>
                <div class="line2">E-mail</div>
            </div>
        </div>
    </div>

    <div id="down-panel">
        <div class="button">
            Pobierz CV
        </div>
        <div class="button">
            GitHub
        </div>
        <div class="button">
            LinkedIn
        </div>
        <div class="button" id="projects">
            Projekty
        </div>
        <div class="button" id="contact">
            Kontakt
        </div>
    </div>
</div>