:root {
    --color-background: #151b27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: "Poppins", serif;
    min-width: 360px;
}

a {
    text-decoration: none;
    color: inherit;
}
