#container {
    width: 100%;
    height: 100%;
    padding: 15px;

    background-color: var(--color-background2);
    border-radius: 10px;
    border: 2px solid var(--color-background3);

    #preview {
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;

            width: auto;
            height: auto;
            object-fit: cover;
            display: block;
            transition: transform 0.9s ease;
        }
    }

    #information {
        margin-top: 5px;

        #header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #project-info {
                #type {
                    color: var(--color-theme);
                    font-size: 0.8em;
                }

                #name {
                    font-size: 1.2em;
                    margin-top: -8px;
                }
            }

            #button-container {
                display: flex;
                gap: 10px;

                .button {
                    color: var(--color-text-light);
                    padding: 4px 10px;
                    border: 1px solid var(--color-text);
                    border-radius: 8px;

                    position: relative;

                    ul {
                        display: none;

                        position: absolute;
                        left: -1px;
                        bottom: 100%;

                        z-index: 10;

                        background-color: var(--color-background);
                        padding: 4px 10px;
                        border: 1px solid var(--color-text);
                        border-radius: 8px 8px 8px 0;

                        list-style: none;

                        li {
                            padding: 10px;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        color: var(--color-text);
                        background-color: var(--color-background);

                        ul {
                            display: block;
                        }

                        &:has(ul) {
                            border-radius: 0 0 8px 8px;
                        }
                    }
                }
            }
        }

        #description {
            font-size: 0.8em;
            text-align: justify;
            color: var(--color-text-light);
        }
    }

    &:hover {
        #preview {
            img {
                transform: scale(1.2);
            }
        }
    }

    @media (max-width: 800px) {
        padding: 4px;
        border-radius: 6px;

        font-size: 0.9em;
    }
}
