<div id="container">
    <div id="preview">
        <img src="/img/mc-list-preview1.png" />
    </div>
    <div id="information">
        <div id="header">
            <div id="project-info">
                <div id="type">Strona internetowa</div>
                <div id="name">MC-List.pl</div>
            </div>
            <div id="button-container">
                <div class="button">GitHub</div>
                <a href="https://mc-list.pl/" target="_blank">
                    <div class="button">Live</div>
                </a>
            </div>
        </div>
        <div id="description">
            W swojej karierze programisty zdobyłem umiejętności w zakresie szerokiej gamy technologii i narzędzi, które
            pozwalają mi realizować wszelkiego rodzaju projekty. Poniżej znajdują się niektóre umiejętności, które
            rozwinąłem.
        </div>
    </div>
</div>