#container {
    display: flex;

    app-aside-menu {
        flex-shrink: 0;
    }

    #content {
        flex-grow: 1;
    }

    @media (max-width: 800px) {
        #content {
            > * {
                scroll-margin-top: 50px;
            }
        }
    }
}
